Bank-Customer-Churn-Records.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Python installation (IMPORTANT)
Python/

# OS
.DS_Store
Thumbs.db


#break down of project task into daily tasks
task_time_breakdown.txt


#concepts of project
concepts_used_in_ccp.txt


requirements.txt